﻿
@{
    ViewBag.Title = "Index";
}

<div ng-app="EvaluateApp" ng-controller="searchController">
    
    <div class="search-container">
        <div class="col-lg-offset-3">
            <form method="post">
                <input type="text" class="form-control input-box" ng-model="url"/>

                <button type="submit" class="btn btn-default" ng-click="searchUrls()">
                    Test site
                </button>
            </form>
        </div>
    </div>

    <div class="url-table text-center" ng-hide="currentUrls.length == 0">
        <div class="row">
            <div class="col-lg-3 url-link">
                URL
            </div>
            <div class="col-lg-9 header-row">
                <div class="header-measure"
                     ng-repeat="number in getNumbers(tests.countMeasures())">
                    {{ number + 1 }}
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="url in currentUrls">
            <div class="col-lg-3 url-link">{{ url }}</div>
            <div class="url-measure" ng-repeat="res in tests.getUrlMeasures(url) track by $index">{{res}}</div>
        </div>

        <ul class="pagination">
            <li ng-repeat="range in ranges" ng-class="range == selectedRange ? 'active' : ''">
                <a ng-click="selectRange(range)"> {{ range + 1 }} </a>
            </li>
        </ul>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/MainPage/Library/array_range.js"></script>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/MainPage/app.js"></script>

    <script src="~/Scripts/MainPage/Library/enumerable.js"></script>
    <script src="~/Scripts/MainPage/Library/testsCollection.js"></script>

    <script src="~/Scripts/MainPage/Controllers/searchController.js"></script>
    <script src="~/Scripts/MainPage/Services/hubService.js"></script>
}

