﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-box {
    display: inline-block;
}

.search-container {
    margin-top: 30px;
    padding:20px;
    background-color: #fdfdfd;
}

.url-table {
    margin-top: 20px;
    margin-left: 20px;
}

.url-link {
    text-align: right;
    display: inline;
    font-style: italic;
    border-right: 1px solid #ffd800;
    padding: 5px;
}

.url-measure {
    margin: 5px;
    background-color: #f9f9f9;
    font-weight: bolder;
    display: inline;
    float : left;
    min-width : 40px;
}

.header-measure {
    display: inline-block;
    color: #a30000;
    min-width: 40px;
    float: left;
    margin: 5px;
    text-align: center;
}

.header-row {
    border-bottom: 1px solid #ffd800;
    padding-left: 0px;

}